template(name='ViewBookshelf')
  .ui.small.modal#view-bookshelf-modal
    i.close.icon#close
    .ui.middle.aligned.center.aligned.grid
      .column
        h2#register-subtitle Your Bookshelf:
        hr
        .content#book-info
          each bookinfo
            .thumbnail
              li= oclc
              br
              li= title
              br
              li= author
              br
              li= misc1
              br
              li= misc2
              br
              li= misc3
              br
              .ui.basic.red.button#delete-from-bookshelf Delete item?
              hr
