template(name='Dashboard')

      .ui.menu#dashboard-nav
        .left.header.white.item Palm Beach State College | Lake Worth Library
        .right
          .ui.basic.blue.button#admin Admin
          .ui.basic.blue.button#log-out Log Out

      .ui.secondary.pointing.menu
          .ui.item.right.floated
            .user-links
              a#your-account Your Account
              a#help Help

      .container#user-display
        img.ui.avatar.image#avatar(src='https://cdn4.iconfinder.com/data/icons/gray-user-management/512/remove-512.png')
        span #{username}
        br
        i.fa.fa-envelope-o#notifications  2
      .container
        .ui.message#book-gallery-message
            i.close.icon#message-close
            .header#message-header
            p#message-text

      .ui.vertical.menu#section-nav
        a.item.active.teal New Books
        a.item ALEPH
        a.item Congressional Digests
        a.item Library Statistics

      section.ui.segment#book-gallery
          .ui.search#search
            .ui.icon.input
              input.prompt#search-input(placeholder='Search by OCLC' type='text')
            i.search.icon#search-button
            hr
            .ui.items
              .ui.item
                .image
                  img#bib-image(src='#{image}')
                  img#google-img(src='https://magellan.bristolcathedral.org.uk/Magellan/Images/TileIcons/google-logo.png')
                .content
                  .bib-info
                    p OCLC #: #{oclc}
                    p Title: #{title}
                    p Author: #{author}
                    p Description:
                      hr
                      p #{misc1}
                      p #{misc2}
                      p #{misc3}
                  .ui.basic.teal.button.right.floated#next
                      i.fa.fa-chevron-right
                  .ui.basic.teal.button.right.floated#prev
                    i.fa.fa-chevron-left
                  br
                  br
                  hr
                  if isInRole 'admin'
                    .ui.basic.red.button.right.floated#delete-book Delete Book From Collection
                  .ui.basic.teal.button.right.floated#add-to-bookshelf + Add to Bookshelf
                  br
                  br
                  hr
                  i.fa.fa-twitter-square#twitter
                  i.fa.fa-facebook-square#facebook
                  .ui.basic.blue.button.right.floated#view-bookshelf View Bookshelf
                  .ui.basic.blue.button.right.floated#download-bookshelf Download Bookshelf

      section.ui.segment#add-new-books
        p Submit List from FLVC Here:
        hr
        textarea(cols='45')#sysnums-submissions
        br
        br
        .ui.basic.blue.button#submit-sysnums Submit
        .ui.button#clear-sysnums Clear

      +MainModal
